/* Price Slider */

.price-slider-wrapper {
  @apply w-full;
  /* @apply px-4 py-8; */
  /* @apply p-2; */
  @apply py-8;
  /* @apply bg-white; */
}

.price-slider {
  @apply w-full;
  @apply relative;
}

.price-slider > .slider {
  @apply h-3;
  @apply my-0 mx-3;
  @apply relative;
}

.slider > .track {
  @apply absolute inset-0;
  @apply rounded-full;
  @apply bg-gray-200;
}

.slider > .range {
  @apply bg-gold-500;
  @apply absolute inset-0;
  @apply rounded-full;
}

.slider > .thumb {
  /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  transition: box-shadow 0.2s ease-in-out; */
  @apply absolute;
  /* @apply w-8 h-8; */
  @apply flex flex-col items-center;
  @apply rounded-full;

  /* @apply transform -translate-y-full; */
}

.slider > .thumb.left {
  /* background-color: rgba(255, 201, 40, 1); */
  @apply left-0 transform -translate-x-3 ;
  @apply -translate-y-6;
}

.slider > .thumb.left > svg {
  @apply w-8 h-8;
  @apply transform scale-110;
}

/* .slider > .thumb.left.hover {
  box-shadow: 0 0 0 10px rgba(255, 201, 40, 0.2);
}

.slider > .thumb.left.active {
  box-shadow: 0 0 0 20px rgba(255, 201, 40, 0.2);
} */

.slider > .thumb.right {
  /* background-color: rgba(253, 139, 124, 1); */
  @apply right-0 transform translate-x-3 ;
  @apply translate-y-1;
}

.slider > .thumb.right > svg {
  @apply w-8 h-8;
  @apply transform scale-110 rotate-180 origin-center;
}

/* .slider > .thumb.right.hover {
  box-shadow: 0 0 0 10px rgba(253, 139, 124, 0.2);
}

.slider > .thumb.right.active {
  box-shadow: 0 0 0 20px rgba(253, 139, 124, 0.2);
} */

.price-slider > input[type="range"] {
  pointer-events: none;
  -webkit-appearance: none;
  /* @apply absolute m-0; */
  @apply h-2 w-full;
  @apply opacity-0;
  @apply z-20;
}

.price-slider > input[type="range"]#input-left {
  @apply absolute ml-0.5 -mt-3.5;
}

.price-slider > input[type="range"]#input-right {
  @apply absolute mt-1.5 -ml-0.5;
}

.price-slider > input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;

  @apply w-8 h-8;
  @apply rounded-full;
  @apply border-0;
  @apply bg-gold-500;
}




