body {
  /* font-family: "Quicksand", sans-serif; */
}

a {
  cursor: pointer;
}

.sc-chat-window {
  z-index: 1000 !important;
  height: 500px !important;
}

.input-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
}

.input-text label {
  font-weight: 600;
}

.input-text input[type="text"],
.input-text input[type="email"],
.input-text input[type="password"],
.input-text input[type="phone"] {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  background-color: rgba(250, 249, 245, 1);
}

.input-text input[type="text"]:focus,
.input-text input[type="email"]:focus,
.input-text input[type="password"]:focus,
.input-text input[type="phone"]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group-radio-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

label.radio-box,
label.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  padding: 0.25rem 0;
  cursor: pointer;
  position: relative;
}

label.radio-box input[type="radio"],
label.check-box input[type="checkbox"] {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

label.radio-box input[type="radio"]:disabled ~ .text,
label.radio-box input[type="radio"]:disabled + .design,
label.check-box input[type="checkbox"]:disabled ~ .text,
label.check-box input[type="checkbox"]:disabled + .design {
  opacity: 0.4;
}

label.radio-box .design {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  position: relative;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid rgba(57, 42, 35, 1);
  transition: 0.3s;
}

label.check-box .design {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid rgba(57, 42, 35, 1);
  transition: 0.3s;
}

label.radio-box .design::before {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  content: "✔";

  font-size: 1.5rem; /* 24px */
  line-height: 1.25rem;

  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;

  display: block;
  position: absolute;
  top: -0.25rem;
  left: 0.125rem;
  opacity: 0;
}

label.check-box .design::before {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  content: "✔";

  font-size: 1.5rem; /* 24px */
  line-height: 1.25rem;

  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;

  display: block;
  position: absolute;
  top: -0.25rem;
  left: 0.125rem;
  opacity: 0;
}

label.radio-box .text,
label.check-box .text {
  margin-left: 1rem;
  transition: 0.3s;
}

label.radio-box input[type="radio"]:checked + .design::before,
label.check-box input[type="checkbox"]:checked + .design::before {
  opacity: 1;
}

label.radio-box input[type="radio"]:not([disabled]):hover + .design,
label.radio-box input[type="radio"]:not([disabled]):focus + .design,
label.check-box input[type="checkbox"]:not([disabled]):hover + .design,
label.check-box input[type="checkbox"]:not([disabled]):focus + .design {
  border: 1px solid rgba(255, 201, 40, 1);
  color: rgba(255, 201, 40, 1);
}

label.radio-box input[type="radio"]:not([disabled]):hover ~ .text,
label.check-box input[type="checkbox"]:not([disabled]):hover ~ .text {
  color: rgba(255, 201, 40, 1);
}

.input-opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  gap: 0.5rem;
}

.input-opt input[type="text"] {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid black;
}

.input-opt input[type="text"]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
